body{
    font-family: 'Montserrat';
}




.container {
    max-width: 400px;
    margin: auto;
}

.question {
    margin-top: 15px;
    width: 91%;
    background-color: rgb(255, 231, 11);
    display: flex;
    justify-content: space-between;
}

.question2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 231, 11);
    border: #000 2px solid;
}


.question2 input {
    display: flex;
    justify-content: space-around;
}


.question2 img {
    width: 40px;
    height: 40px;
}


.hidden {
    display: none;
    transition: 2s ease;
}

.klass {
    display: flex;
}

.klasss {
    display: flex;
}

.klassss {
    display: flex;
}



.klass input {

    scale: 1;
    transition: 0.6s;

}

.klasss input {

    scale: 1;
    transition: 0.6s;

}

.klassss input {

    scale: 1;
    transition: 0.6s;

}


.klass input:hover {

    scale: 1.5;
    transition: 0.6s;
}

.klasss input:hover {

    scale: 1.5;
    transition: 0.6s;
}

.klassss input:hover {

    scale: 1.5;
    transition: 0.6s;
}

.result {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.result2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
}

.result3 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}